*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p1{

}

.p1h1{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1h1i1{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: solid 2px #ffffff;

    margin-bottom: 25px;
}

.p1h1h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.p1h1d1{
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.p1h1d1b1{
    width: 48%;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;

}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

p{
   
}